%table.commande
  %tr
    %th Désignation
    %th{colspan: 7} Tailles
  -# quantite.modeles_ids(@catalogue).each do |modele_id|
  - m_to_keep = quantite.modeles_ids
  - @catalogue.select {|m| m_to_keep.include?(m.id.to_s)}.each do |modele|
    -# modele=@catalogue.select {|m| m.id == modele_id.to_i}.first
    %tr.designation
      %td= "N° #{modele.numero} - #{modele.nom}"
      - modele.liste_taille.each do |t|
        %td= t
    - quantite.versions_ids(modele.id).each do |version_id|
      - version=modele.versions.select {|v| v.id == version_id.to_i}.first
      - couleur=@couleurs[version.couleurs_1_id]
      %tr
        %td= couleur
        - modele.liste_taille.each do |t|
          - if t
            %td=  f.number_field "detail[#{modele.id}][#{version.id}][#{t}]"
          - else
            %td
