%h1 Agent
.actions2
  = link_to 'Retour', agents_path
  \/
  = link_to "Modifier", edit_agent_path(@agent)
  \/
  = link_to 'Supprimer', @agent, :method => :delete, :data => { :confirm => 'Etes-vous sur de vouloir supprimer cet agent ?' }

%h2 Coordonnées

%dl
  %dt= "Nom"
  %dd= @agent.nom

  %dt= "E-mail"
  %dd= @agent.email

  %dt= "Téléphone"
  %dd= @agent.telephone

  %h2 Portefeuille

  %dl
    %dt= "Nb. de clients suivis"
    %dd= @agent.clients.count
    %dt= "Performance HT"
    %dd
      != prix(@agent.performance_net_ht)
    %dt= "Performance TVA"
    %dd
      != prix(@agent.performance_tva)
    %dt= "Performance TTC"
    %dd
      != prix(@agent.performance_ttc)
    %table.listing
      %tr
        %th Client
        %th{width: "50px;"} # commandes
        %th{width: "100px;"} Total HT
        %th{width: "100px;"} Total TVA
        %th{width: "100px;"} Total à payer
      - @agent.portefeuille.each do |client|
        %tr{style: client[:nbCommandes] == 0 ? 'color:#AAA;' : nil}
          %td= client[:societe]
          %td{class: "center"}= client[:nbCommandes]
          %td{class: "right"}!= client[:nbCommandes] > 0 ? prix(client[:total_net_ht]) : '-'
          %td{class: "right"}!= client[:nbCommandes] > 0 ? prix(client[:total_tva]) : '-'
          %td{class: "right"}!= client[:nbCommandes] > 0 ? prix(client[:total_ttc]) : '-'
