%table.commande
  %tr
    %th Désignation
    %th{colspan: 7} Tailles
  - @quantite.modeles.each do |modele|
    %tr.designation
      %td= "N° #{modele.numero} - #{modele.nom}"
      - modele.liste_taille.each do |t|
        %td= t
    - @quantite.versions(modele).each do |version|
      %tr
        %td= version.couleurs
        - modele.liste_taille.each do |t|
          - if t
            %td=  f.number_field "detail[#{modele.id}][#{version.id}][#{t}]" 
          - else
            %td
          
