= render "/application/errors", :@record => @stock

%h2= "Réception d'arrivage"
%p
  = "Entrez ci-dessous les quantités reçues (voir le "
  = link_to 'bon de production', production_path(@production), :target => '_blank'
  = ") avant d'enrigistrer l'arrivage dans les stocks."

= form_for @stock, :method=>:post do |f|
  = hidden_field_tag "mode", "production"
  = hidden_field_tag "production", @production.id
  = f.fields_for :quantite do |ff|
    = render "/quantites/form", {:@quantite => @stock.quantite, :f => ff}

