= form_for @patron, :method=>:put do |f|
  = f.hidden_field :id


  %h2 Coordonnées
  = f.fields_for :agent do |ff|  
    = ff.label :nom, 'Nom et Prénom'
    = ff.text_field :nom
    %br
    = ff.label :email, 'E-mail'
    = ff.email_field :email
    %br
    = ff.label :telephone, 'Téléphone'
    = ff.text_field  :telephone
    %br
  = f.label  :societe, 'Société'
  = f.text_field :societe
  %br
  = f.label :siren, 'Numéro Siret'
  = f.number_field :siret
  %br
  = f.label :siren, 'Numéro TVA'
  = f.number_field :tva
  %br
  = f.label :siren, 'Capital'
  = f.number_field :capital
  %br
  = f.label :adresse, 'Adresse'
  = f.text_area :adresse, size: "30x8"
