%h1 Informations personnelles
.actions
   = link_to "Modifier", edit_patron_path(@patron) 


%h2 Coordonnées

%dl

  %dt
    Société
  %dd
    = @patron.societe

  %dt
    Nom
  %dd
    = @patron.nom

  %dt
    Numéro Siren
  %dd
    = @patron.siren

  %dt
    E-mail
  %dd
    = @patron.email

  %dt
    Adresse de facturation
  %dd
    :plain
      #{to_html(@patron.adresse_1)}

  %dt
    Adresse de livraison
  %dd
    :plain
      #{to_html(@patron.adresse_2)}
	 
