%h1 Informations personnelles
.actions
  = link_to "Modifier", edit_patron_path(1)

%h2 Contact

%dl
  %dt= "Nom et Prénom"
  %dd= @patron.agent.nom

  %dt= "E-mail"
  %dd= @patron.agent.email

  %dt= "Téléphone"
  %dd= @patron.agent.telephone

%h2 Société

%dl
  %dt= "Nome de la société"
  %dd= @patron.societe

  %dt= "Numéro Siret"
  %dd= @patron.siret

  %dt= "Numéro TVA"
  %dd= @patron.tva

  %dt= "Capital"
  %dd= @patron.capital

  %dt= "Adresse"
  %dd
    :plain
      #{to_html(@patron.adresse)}

