= form_for @commande, :method=>(@commande.id ? :put : :post) do |f|
  = f.hidden_field :status
  %h2 Client
  
  = f.label :client_id, 'Commande pour'
  = f.collection_select :client_id, Client.all, :id, :societe, promt: "Select", :include_blank=>true
    
  = f.label :commentaire, 'Commentaires'
  = f.text_area :commentaire, size: "30x5"
  
  %h2 Items
  = f.fields_for :quantite do |ff|
    = render "/quantites/form", {:@quantite => @commande.quantite, :f => ff}  
      
      
