%h1 Commandes
.actions
  = link_to ' + Ajouter une comande', new_commande_path()

- (0..4).each do |i|
  - if @commandes.where(status: i).count > 0
    %h2= Commande::STATUS_LIST[i]
    %table

      %tr
        %th{width: "10px;"}
        %th{width: "200px;"} Client
        %th{width: "70px;"} Total HT.
        %th{width: "80px;"} Livraison
        %th{width: "80px;"} Référence

      - @commandes.where(status: i).each do |commande|
        %tr
          %td= link_to ">", commande_path(commande)
          %td= commande.client.societe
          %td.right!= prix(commande.montant)
          %td.center= commande.date
          %td.center= commande.reference
