.title
  BlaBla

.bon
  %h1 Bon de livraison

  .client
    %p= @commande.client.societe
    %p= @commande.client.nom
    %p
      :plain
        #{to_html(@commande.client.adresse_2)}
    
  %p.reference
    = "Le #{Date.today.strftime('%d/%m/%Y')},"
    = "commande n°#{@commande.reference}, pour #{@commande.client.societe}"
    = "(SIRET: #{@commande.client.siret})." 
  
  %table.commande
    %tr
      %th= 'Désignation'
      %th{colspan: 7}= 'Tailles'
      %th= 'Total'
    - @commande.modeles.each do |modele|
      - if @commande.quantite.de(modele) > 0
        %tr.designation
          %td= "N° #{modele.numero} - #{modele.nom}"
          - modele.liste_taille.each do |t|
            %td= t
          %td= @commande.quantite.de(modele.id)
        
        - @commande.versions(modele).each do |version|
          - if @commande.quantite.de(version) > 0
            %tr
              %td= version.couleurs
              - modele.liste_taille.each do |t|
                %td= @commande.quantite.de(version,t) if t
              %td= @commande.quantite.de(version)
  
  .footer
    = "Nombre total de pièces : #{@commande.quantite.de}"