.title
  BlaBla

.bon
  - if @commande.status < 3
    %h1 Pro Forma
  - else
    %h1 Facture

  .informations
  -#%p= @patron.intitule
  %p!= "#{@patron.adresse.gsub("\r\n",", ")}"
  -#!= "-&nbsp;EURL au capital de #{@patron.capital.round}&#x20AC;"
  %p= @patron.identification
  %p= "#{@patron.telephone}"
  %p= "#{@patron.email}"

  .client
    %p= @commande.client.societe
    %p= @commande.client.nom
    %p
      :plain
        #{to_html(@commande.client.adresse_1)}

  %p.reference
    - if @commande.status < 3
      = "Le #{Time.now.strftime('%d/%m/%Y')}, commande référence #{@commande.reference} pour :"
    - else
      = "Le #{@commande.date_facturation.strftime('%d/%m/%Y')}, facture n° #{@commande.numero_facture} pour :"
    -#%br
    = @commande.client.intitule
    = "(#{@commande.client.identification})"

  - if @commande.status < 3
    %p.alert
      = "Attention ! Ceci n'est pas une facture : elle n'inclut pas les frais de livraison ni"
      = "les changements qui peuvent intervenir d'ici l'envoi de votre commande. Le montant réel "
      = "sera indiqué sur la facture définitive qui vous sera envoyée ultérieurement."

  %table.commande
    %tr.designation
      %th{width: "400px;"} Désignation
      %th{width: "60px;"} Qnt
      %th{width: "80px;"} PU HT
      %th{width: "80px;"} Mnt HT
    - @commande.quantite.modeles_ids(@catalogue).each do |modele_id|
      - modele=@catalogue.select {|m| m.id == modele_id.to_i}.first
      - if @commande.quantite.de(modele) > 0
        %tr.facture
          %td= "\##{modele.numero} - #{modele.nom}"
          %td= @commande.quantite.de(modele)
          %td!= "#{prix(modele.prix)}"
          %td!= "#{prix(@commande.montant(modele))}"
    %tr.sep
      %td{colspan: 4}
    %tr.blank
      %td
      %td.total{colspan: 2} Total HT
      %td.total!= "#{prix(@commande.montant)}"
    - unless true#@commande.remise.nil?
      %tr.blank
        %td
        %td.total{colspan: 2} Remise
        %td.total!= "#{prix(@commande.remise)}"
      %tr.blank
        %td
        %td.total{colspan: 2} Net HT
        %td.total!= "#{prix(@commande.remise)}"
    %tr.blank
      -if @commande.client.has_tva
        %td.info="Base TVA: 20.0\%"
      - else
        %td.info= "TVA non applicable, art. 293 B du CGI"
      %td.total{colspan: 2} TVA
      %td.total!= "#{prix(@commande.tva)}"
    %tr.blank
      %td.info{rowspan: @commande.status >= 3 ? 3:2}
        - if @commande.status < 3
          != "L'envoi de votre commande sera effectuée après la réception des chèques. "
          != "En dessous de 500&#x20AC;, paiement en une fois à 30 jours après livraison."
          != "Au delà, paiement en trois fois à 15, 60 et 90 jours (30%, 30%, et 40%)."
        - else
          != "Payable par chèque pour la somme de #{prix(@commande.total)},"
          != "soit #{pluralize(@commande.nombre_paiments,'paiement')} à valoir sous"
          != "#{@commande.echeancier} jours #{mensualise(@commande,"respectivement")} à partir de la date de livraison."
          != "L'envoi de votre commande sera effectuée après la réception des chèques."
      %td.total{colspan: 2} Total TTC
      %td.total!= "#{prix(@commande.montant_ttc)}"
    - if @commande.status >= 3
      %tr.blank
        %td.total{colspan: 2} Frais de port
        %td.total!= "#{prix(@commande.frais_de_port)}"
        - if @commande.avoir > 0
          %tr.blank
          %td
          %td.total{colspan: 2} Avoir
          %td.total!= "- #{prix(@commande.avoir)}"
    %tr.blank
      - if @commande.avoir > 0
        %td
      %td.grandtotal{colspan: 2} Net à payer
      %td.grandtotal!= "#{prix(@commande.total)}"
    %tr.sep
      %td{colspan: 4}

  %p.legislation
    != "Pénalité de retard: 3% (taux annuel) plus une indemnité forfaitaire de 40&#x20AC; pour frais de recouvrement."
    = "Escompte pour paiement anticipé: néant."
    != "Droit de réserve&nbsp;: nous nous réservons la propriété des marchandises jusqu'au paiement du prix par l'acheteur&nbsp;;"
    = "ce droit de revendication porte aussi bien sur les marchandises que sur leur prix si elles ont déjà été revendues (Loi du 12 mai 1989)."
