.title
  Madame BlaBla

.bon
  - if @commande.status < 3
    %h1 Pro Forma
  - else
    %h1 Facture

  .client
    %p= @commande.client.societe
    %p= @commande.client.nom
    %p
      :plain
        #{to_html(@commande.client.adresse_1)}

  %p.reference
    = "Le #{Date.today.strftime('%d/%m/%Y')},"
    = "commande n°#{@commande.reference}, pour #{@commande.client.societe}"
    = "(SIRET: #{@commande.client.siret})." 
   
  %table.commande
    %tr.designation
      %th{width: "400px;"} Désignation
      %th{width: "60px;"} Qnt.
      %th{width: "60px;"} P.U. H.T.
      %th{width: "70px;"} Montant
    - @commande.modeles.each do |modele|
      - if @commande.quantite.de(modele) > 0
        %tr.facture
          %td= "N° #{modele.numero} - #{modele.nom}"
          %td= @commande.quantite.de(modele)
          %td!= "#{prix(modele.prix)}"
          %td!= "#{prix(@commande.montant(modele))}"
    %tr
      %td
      %td
      %td
      %td
    %tr.totaux
      %td
      %td{colspan: 2} Total HT
      %td.total!= "#{prix(@commande.montant)}"
    - unless true#@commande.remise.nil?
      %tr.totaux
        %td
        %td{colspan: 2} Remise
        %td.total!= "#{prix(@commande.remise)}"
      %tr.totaux
        %td
        %td{colspan: 2} Net HT
        %td.total!= "#{prix(@commande.remise)}"
    %tr.totaux
      %td
      %td{colspan: 2} TVA
      %td.total!= "#{prix(@commande.tva)}"
    %tr.totaux
      %td
      %td{colspan: 2} Total TTC
      %td.total!= "#{prix(@commande.montant+ @commande.tva)}"
 
  - if @commande.status < 3
    %p.alert
      = "Attention ! Ceci n'est pas une facture : elle n'inclut pas les frais de livraison ni"
      = "les changements qui peuvent intervenir d'ici l'envoi de votre commande. Le montant définitf "
      = "sera indiqué sur la facture qui vous sera envoyée."
    %p.alert
      != "L'envoi de votre commande sera effectué dès la réception de votre paiement."
      != "En dessous de 500&#x20AC;, paiement en une fois à 30 jours."
      != "Au delà, possibilité de paiement en troix fois à 15, 60 et 90 jours."
  - else 
    %p.payable
      != "Facture payable le xxx pour la somme de #{prix(@commande.montant+ @commande.tva)}."
    %p.legislation
      = "Pénalité de retard (taux annuel) de 3%. Pas d'escompte pour paiement anticipé."
      = "Nous nous réservons la propriété des marchandises jusqu'au paiement du prix par l'acheteur."
      = "Droit de réserve: notre droit de revendication porte aussi bien sur les marchandises que sur leur prix si elles ont déjà été revendues (Loi du 12 mai 1989)."
      
      
  %p.informations
    != "#{@patron.societe}"
    != "-&nbsp;Siège social&nbsp;:&nbsp;#{@patron.adresse.gsub("\r\n",", ")}"
    != "-&nbsp;EURL au capital de #{@patron.capital.round}&#x20AC;"
    != "-&nbsp;SIRET&nbsp;:&nbsp;#{@patron.siret} -&nbsp;TVA&nbsp;:&nbsp;#{@patron.tva}"
    != "-&nbsp;Téléphone&nbsp;:&nbsp;#{@patron.telephone} -&nbsp;E-mail&nbsp;:&nbsp;#{@patron.email}"
