%h2= "Réception d'arrivage"
= "Entrez ci-dessous les quantités reçues (voir le "
= link_to 'bon de production', production_path(@production), :target => '_blank'
= ") avant d'enrigistrer l'arrivage dans les stocks."

%h2 Inventaire
= form_for @stock, :method=>:post do |f|
  = hidden_field_tag "stock[mode]", "production"
  = hidden_field_tag "stock[production]", @production.id
  = f.fields_for :quantite do |ff|
    = render "/quantites/form", {:@quantite => @stock.quantite, :f => ff}  
      
