%h1 Stocks

%h2 Rentrée de stock
- if @productions.count > 0
  %p= "Receptionner un nouveau stock :"
  - @productions.each do |production|
    %p= link_to "Arrivage de la production du #{production.date}", edit_stock_path(@stock,production: production)
- else
  %p= "Pas de production en cours"

%br
= form_tag stocks_path, method: :get, id: 'stock_form', class: 'filtre' do
  %h2 Filtre
  %p
    = "Afficher le"
    = select_tag :stock_mode, options_for_select([['stock réel (en réserve)','reel'],['stock net (commandes déduites)','net']],selected: params[:stock_mode]), :onchange => 'document.forms[0].submit();'

- if @stock.quantite.de > 0
  = render "/quantites/show", :@quantite => @stock.quantite
- else
  %p= "Le stock est actuellement vide."

