%h1 Productions

%h2 Pré-commandes
- if @commandes_0 == 0
  %p= "Aucune pré-commande enregistrée. Ajouter des commandes avant de lancer leur production."
- else
  %p= "Il y a actuellement #{@commandes_0} pré-commandes à produire."
  %p
    = link_to 'Lancer la production', new_production_path
    = "pour valider ces commandes et voir l'ordre de production."

%h2 Productions en cours
- if @commandes_0 == 0
  %p= "Il n'y a aucune production en cours"
- else
  %table
  - @productions.each do |production|
    %p
      = "Production démarée le #{production.date} :"
      = link_to 'Voir le bon de production', production_path(production), :target => '_blank'
      = link_to 'Annuler', production, :method => :delete, :data => { :confirm => 'Etes-vous sur de vouloir annuler cette production ?' }
