%h1 Carnet d'adresse

%h2 Clients
= link_to ' + Ajouter un client', new_client_path()

%table
  %tr
    %th 
    %th Societe
    %th Nom
    %th E-mail

  - @clients.each do |client|
    %tr
      %td= link_to ">", client_path(client)
      %td= client.societe
      %td= client.nom
      %td= client.email

