%h1 Clients

= link_to ' + Ajouter un client', new_client_path()

%table
  %tr
    %th{width: "20px;"}
    %th{width: "150px;"} Nom
    %th{width: "200px;"} E-mail
    %th Societe

  - @clients.each do |client|
    %tr
      %td= link_to ">", client_path(client)
      %td= client.nom
      %td= client.email
      %td= client.societe

