%h1 Clients :: détails
.actions
  = link_to 'Retour', clients_path
  \|
  = link_to "Modifier", edit_client_path(@client) 
  \|
  = link_to 'Supprimer', @client, :method => :delete, :data => { :confirm => 'Etes-vous sur de vouloir supprimer ce client ?' }

%h2 Agent
= @client.agent.nom

%h2 Coordonnées

%dl

  %dt
    Société
  %dd
    = @client.societe

  %dt
    Nom
  %dd
    = @client.nom

  %dt
    Numéro Siren
  %dd
    = @client.siren

  %dt
    E-mail
  %dd
    = @client.email

  %dt
    Adresse de facturation
  %dd
    :plain
      #{to_html(@client.adresse_1)}

  %dt
    Adresse de livraison
  %dd
    :plain
      #{to_html(@client.adresse_2)}
	 
