= render "/application/errors", :record => @modele

%h2 Descriptif

= form_for @modele, :method=>(@modele.id ? :put : :post) do |f|
  = f.hidden_field :id

  = f.label :numero, 'Référence'
  = f.text_field :numero

  = f.label :nom, 'Nom'
  = f.text_field :nom

  = f.label :tailles, 'Tailles'
  = f.select :taille_min, @modele.tailles_possibles.collect{|t| [t,t]}, {}, {:class=>'taille'}
  .to= ">>"
  = f.select :taille_max, @modele.tailles_possibles.collect{|t| [t,t]}, {}, {:class=>'taille'}
  %br

  = f.label :prix, 'Prix Unitaire HT'
  = f.number_field :prix
