= form_for @agent, :method=>(@agent.id ? :put : :post) do |f|
  = hidden_field_tag "agent[id]", @agent.id

  %h2 Coordonnées
  
  = label :agent, :nom, 'Nom'
  = text_field :agent, :nom
  %br
  = label :agent, :email, 'E-mail'
  = email_field :agent, :email
  %br
  = label :agent, :telephone, 'Telephone'
  = text_field :agent, :telephone
