%h1 Agents :: détails
.actions
  = link_to 'Retour', agents_path
  \|
  = link_to "Modifier", edit_agent_path(@agent) 
  \|
  = link_to 'Supprimer', @agent, :method => :delete, :data => { :confirm => 'Etes-vous sur de vouloir supprimer cet agent ?' }

%h2 Coordonnées

%dl

  %dt
    Nom
  %dd
    = @agent.nom

  %dt
    E-mail
  %dd
    = @agent.email

    %dt
      Téléphone
    %dd
      = @agent.telephone	 
