= form_for @version, :method=>(@version.id ? :put : :post) do |f|
  = f.hidden_field :modele_id, value: @modele.id

  %h2 Modèle
  %p= "#{@modele.numero} :: #{@modele.nom}"

  %h2 Couleurs

  = f.label :couleurs_1_id, 'Couleur principale'
  = f.collection_select :couleurs_1_id, Couleur.all, :id, :nom
  %br
  = f.label :couleurs_2_id, 'Couleur secondaire'
  = f.collection_select :couleurs_2_id, Couleur.all, :id, :nom, :include_blank=>true
