%h1 Catalogue

.actions2
  = link_to ' + Ajouter un modèle', new_modele_path()


- @modeles.each do |modele|
  - couleurs = modele.versions.collect {|v| @couleurs[v.couleurs_1_id]}
  .blob{onclick: "window.location = $(this).attr('url')", url: modele_path(modele)}
    .left
      .designation= modele.nom
      .ref= modele.numero
    .center
      .prix!= prix(modele.prix)
    .right
      .tailles= modele.liste_taille.compact.join(', ')
      .att= couleurs.join(', ')
