%h1 Clients :: détails
.actions2
  = link_to 'Retour', clients_path
  \/
  = link_to "Modifier", edit_client_path(@client)
  \/
  = link_to 'Supprimer', @client, :method => :delete, :data => { :confirm => 'Etes-vous sur de vouloir supprimer ce client ?' }

= render "/application/errors", :record => @client

%h2 Agent
- if @client.agent
  %p= @client.agent.nom
- else
  %p= "Pas d'agent !"

%h2 Coordonnées

%dl

  %dt Société
  %dd= @client.societe

  %dt Nom
  %dd= @client.nom

  %dt= "Numéro Siret"
  %dd= @client.siret

  %dt= "Numéro TVA"
  %dd= @client.tva

  %dt= "Soumis à la TVA"
  %dd= @client.has_tva ? "Oui" : "Non"

  %dt E-mail
  %dd= @client.email

  %dt Téléphone
  %dd= @client.telephone

  %dt Adresse de facturation
  %dd=raw to_html(@client.adresse_1)

  %dt Adresse de livraison
  %dd=raw to_html(@client.adresse_2)
