.title
  Madame BlaBla

.bon_production
  %h1 Production order

  .client
    %p= @patron.agent.nom
    %p=raw to_html(@patron.adresse)
    %p= @patron.agent.telephone
    %p= @patron.agent.email

  %p.reference= Date.today.strftime('%B %d, %Y')
  = render "/quantites/show", :quantite => @production.quantite
