%h1 Commande
.actions2
  = link_to 'Retour', commande_path(@commande)
  \/
  %a{href: "/", onclick: "document.forms[0].submit(); return false;"} Enregistrer

%p
  = "Vous-êtes sur le point de facturer la commande n° #{@commande.numero_commande} pour #{@commande.client.societe}, "
  != "d'un montant total de #{prix(@commande.montant)} HT."
%p
  = "Ce client #{@commande.client.has_tva ? 'est' : 'n\'est pas'} soumis à la TVA."

%p= "Après validation, vous ne pourrez plus modifier cette commande !"

%h2 Détails de la facturation
%p= render "/application/errors", :@record => @commande

= form_for @commande do |f|
  = f.hidden_field :id
  = f.hidden_field :status
  = f.hidden_field :date_facturation
  = f.hidden_field :numero_facture

  = f.label :frais_de_port, "Frais de port (euros)"
  = f.number_field :frais_de_port

  = f.label :frais_de_port, "Avoir (euros)"
  = f.number_field :avoir, value: @avoir, :readonly => true

  = f.label "Facilité de paiment"
  = f.select :nombre_paiments, options_for_select((1..3).collect {|i| ["en #{i} fois", i]} )


