= render "/application/errors", :record => @retour

= form_for @retour, :method=>(@retour.id ? :put : :post) do |f|
  = f.hidden_field :id

  %h2 Client
  = label_tag  'Retour de'
  %input{:type=>"hidden", :value=>@client.id, :name=>:client_id}
  = select_tag :client_id, options_from_collection_for_select(@clients, "id", "societe", @client.id), disabled: @client.id.present?, prompt: "-- Selectionnez un client --"


  - if @client.id.present?

    %h2 Commande

    = f.label :commande_id, 'Sur facture'
    = f.hidden_field :commande_id
    = f.collection_select :commande_id, @commandes, :id, :numero_facture, {prompt: "-- Selectionnez une facture --", selected: @retour.commande_id}, { disabled: (! @retour.commande_id.nil?)}

  - if @retour.commande_id

    %h2 Envoi

    = f.label :frais_de_port, "Frais de port (euros)"
    = f.number_field :frais_de_port

    %h2 Quantités

    = f.fields_for :quantite do |ff|
      = render "/quantites/form", {:quantite => @retour.quantite, :f => ff}
