#navigation
 = link_to_unless(params[:controller] == 'couleurs',"couleurs",couleurs_path)
 = link_to_unless(params[:controller] == 'modeles',"modeles",modeles_path)
 = link_to_unless(params[:controller] == 'commandes',"commandes",commandes_path)
 = link_to_unless(params[:controller] == 'productions',"productions",productions_path)
 = link_to_unless(params[:controller] == 'stocks',"stocks",stocks_path)
 = link_to_unless(params[:controller] == 'clients',"clients",clients_path)
 = link_to_unless(params[:controller] == 'agents',"agents",agents_path)
 = link_to_unless(params[:controller] == 'patrons',"infos",patrons_path)

